.App {
  text-align: center;
}
.modal-button {
  color: white;
  background-color: #3554e0;
  padding: 1rem;
  border-radius: 0.5rem;
}

/* .modal {
  display: flex;
  justify-content: center;
  margin: 1rem;

} */

.modal {
  display: flex;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow for the modal content */
  max-width: 500px; /* Adjust the maximum width as needed */
  width: 100%;
}

input {
 padding: 0.5em;
 border-style: groove;
 border-radius: 10px;
}

form {
  font-size: large;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

form > button {
  color: white;
  background-color: #3554e0;
  border-radius: 0.5rem;
  margin-top: 2vh;
}